/* body{
    background: purple;
} */

.thumbnail img{
    width: 100%;
}
.thumbnail{
    padding: 0;
    min-height: 300px;

}
.thumbnail .caption-full {
    padding: 9px;

}
#delete-form {
    display: inline;
}
#delete-comment{
    display: inline;
}

/*map */
#map{
    height: 400px;
    width:100%;
}
