<% include ./partials/header %>
<div class="container">
    <header class="jumbotron">
        <h2>Please insert your Username and password</h2>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="col-md-9 col-sm-12">


                <form action="/register" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fas fa-user"></i> Username:</span>
                        <input type="text" class="form-control" name='username' placeholder="Username"
                            aria-describedby="basic-addon1">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"> <i class="fas fa-key"></i> Password: </span>

                        <input type="password" class="form-control" name='password' placeholder="Password"
                            aria-describedby="basic-addon1">
                    </div>
                    <br>

                    <button>Submit</button>
                </form>

            </div>
        </div>
    </header>
</div>

<% include ./partials/footer %>